<!doctype html>
<html lang="en" ng-app="ShoppingListCheckOff">
<head>
  <meta charset="utf-8">
  <title>Shopping List Check Off</title>

  <!-- AngularJS -->
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>

  <!-- App JS -->
  <script src="app.js"></script>

  <link rel="stylesheet" href="styles.css">
</head>
<body>

  <h1>Shopping List Check Off</h1>

  <!-- TO BUY -->
  <div ng-controller="ToBuyController as buy">
    <h2>To Buy</h2>

    <ul>
      <li ng-repeat="item in buy.items">
        {{ item.quantity }} {{ item.name }}
        <button ng-click="buy.buyItem($index)">Buy</button>
      </li>
    </ul>

    <p ng-if="buy.items.length === 0">
      Everything is bought!
    </p>
  </div>

  <hr>

  <!-- ALREADY BOUGHT -->
  <div ng-controller="AlreadyBoughtController as bought">
    <h2>Already Bought</h2>

    <ul>
      <li ng-repeat="item in bought.items">
        {{ item.quantity }} {{ item.name }}
      </li>
    </ul>

    <p ng-if="bought.items.length === 0">
      Nothing bought yet.
    </p>
  </div>

</body>
</html>
